<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <a>{{logText}}</a>
    <div class="newSeries">
		<div class="nSboxHead">
			<i class="fas fa-arrow-left fa-3x"></i>
            <a href="index.html">Neue Serie</a>
		</div>
        <input class="nSboxTitle" formControlName="title" placeholder="Titel">    
        <input class="nSboxSeasons" formControlName="seasons" placeholder="Anzahl der Seasons">    
        <select class="nSboxGenre" formControlName="genre" placeholder="Genre">
            <option value="Thriller">Thriller</option>
            <option value="ScienceFiction">Science Fiction</option>
            <option value="Drama">Drama</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Documentary">Documentary</option>
        </select>   
        <select class="nSboxPlatform" formControlName="platform" placeholder="Platform">
            <option value="Netflix">Netflix</option>
            <option value="AmazonPrime">Amazon Prime</option>
            <option value="Skye">Skye</option>
        </select>
        <select class="nSboxRating" formControlName="rating" placeholder="Rating">
            <option value="bad">Bad</option>
            <option value="mediocre">Mediocre</option>
            <option value="good">Good</option>
            <option value="very_good">Very Good</option>
        </select>
        <input class="nSboxComment" formControlName="remark" placeholder="Kommentar">    
        <button type="submit">Hinzufügen :-)</button>
    </div>
</form>