
<div class="bg-modal" *ngIf="show">
    <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <input type="text" placeholder="Benutzername" formControlName="userName">
        <input type="password" placeholder="Passwort" formControlName="userPassword">
        <button class="textButton" (click)="SignIn()">Bestätigen</button>
        <a href="#" onClick="closeSignIn();" class="altTextButton">Abbrechen</a>
        <a href="#" onClick="closeSignIn(); openCreate();" class="altTextButton">Sign Up</a>
    </form>
    </div>
</div>

